[submodule "roles/ansible-role-fail2ban"]
	path = roles/ansible-role-fail2ban
	url = https://github.com/secshellnet/ansible-role-fail2ban
[submodule "roles/ansible-role-sshd"]
	path = roles/ansible-role-sshd
	url = https://github.com/secshellnet/ansible-role-sshd
[submodule "roles/ansible-role-nginx"]
	path = roles/ansible-role-nginx
	url = https://github.com/secshellnet/ansible-role-nginx
